# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local

# Documentação do teste técnico (materiais da empresa)
doc/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*